<main>
  <form [formGroup]="basicForm">
    <div>
      <goa-container>
        <h2>Reactive Binding</h2>
        <div>Binding: {{ reactiveFormCtrl.value }}</div>
        <goa-checkbox
          goaValue
          name="items"
          text="Item 1"
          [formControl]="reactiveFormCtrl"
          [value]="reactiveFormCtrl.value"
        ></goa-checkbox>
        <goa-checkbox
          goaValue
          name="items"
          text="Item 2"
          [formControl]="reactiveFormCtrl"
          [attr.disabled]="true"
          ></goa-checkbox>
        <goa-divider mt="m" mb="m"></goa-divider>
        <h2>Reactive Binding - checked</h2>
        <div>Binding: {{ testFormCtrl.value }}</div>
        <goa-checkbox
          goaValue
          name="items"
          text="Item 3"
          [formControl]="testFormCtrl"
          ></goa-checkbox>
        <div>Binding: {{ test1FormCtrl.value }}</div>
        <button
          (click)="test1FormCtrl.setValue('checked')"
         >
          Set Value to checked
        </button>
        <goa-checkbox
          goaValue
          name="items"
          text="check4"
          [formControl]="test1FormCtrl"
          mt="m"
          mb="xs"
          ml="xl"
          mr="2xl"
        ></goa-checkbox>
        <br /><br />
        <goa-checkbox
          name="items"
          text="Check Error"
          value="10"
          [checked]="checkbox3Checked"
          (_change)="onChange3()"
          error
        ></goa-checkbox>

        <goa-divider mt="m" mb="m"></goa-divider>

        <h2>Checkbox with description</h2>
        <goa-checkbox
          name="items"
          text="Checkbox with description"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit.S"
          
        >
        </goa-checkbox>
        <br /><br /><br /><br /><br /><br />
        <h2>Margin Spacing</h2>
        <div class="space-3"></div>
        <goa-checkbox
          name="items"
          text="check5"
          value="10"
          [checked]="checkbox1Checked"
          (_change)="onChange()"
          mt="m"
          mb="xs"
          ml="xl"
          mr="2xl"
          
        >
        </goa-checkbox>
      </goa-container>
    </div>

    <div class="space-5"></div>
  </form>

  <goa-divider mt="l" mb="l"></goa-divider>
</main>
